html, body {
	height: 100%;
}
body {
	position: relative;
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}
.element {
	width: 120px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
}
.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}
.element .number {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
	color: rgba(127,255,255,0.75);
}
.element .symbol {
	position: absolute;
	top: 46px;
	left: 0px;
	right: 0px;
	font-size: 38px;
	font-weight: bold;
	color: rgba(255,255,255,0.75);
	text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
.element .details {
	position: absolute;
	bottom: 18px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	color: rgba(127,255,255,0.75);
}