body {
  /* position: relative; */
	background-color: #000000;
}
.lucky-draw-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: gradual 1.2s linear 1 3s;
  animation-fill-mode: forwards;
}
@keyframes gradual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
.lucky-draw-tool-left, .lucky-draw-item-custom {
  position: absolute;
  display: flex;
  white-space: nowrap;
  left: 15px;
  bottom: 15px;
}
.lucky-draw-custom {
  width: 150px;
}
.lucky-draw-number, .lucky-draw-number-custom {
  width: 150px;
}
.ant-input, .ant-btn, .ant-select-selection, .ant-select-arrow {
  background-color: #000;
  border-radius: 0px;
  border-color: rgba(127,255,255,0.75);
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
.ant-select-dropdown {
  background-color: rgba(0,127,127, 0.5);
}
.ant-select-dropdown-menu-item {
  color: rgba(255,255,255,0.75) !important;
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
.ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active, .ant-select-dropdown-menu-item-selected {
  background-color: rgba(0,127,127, 0.7) !important;
}
.ant-select-selection {
  border-right: 0px;
  border-top-left-radius: 5px;
  background: #000 !important;
}
.lucky-draw-number .ant-input {
  border-top-left-radius: 5px;
}
.lucky-draw-number-custom .ant-input {
  border-top-left-radius: 0px;
}
.lucky-draw-tool-left .ant-btn {
  border-left: 0px;
  border-bottom-right-radius: 5px;
}
.lucky-draw-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 255, 255, 0);
  transition: all 1s;
}
.lucky-draw-start {
  opacity: 1;
  background-color: rgba(0, 255, 255, 0.4);
}
.lucky-draw-users {
  background-color: rgba(0, 255, 255, 0.4);
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
  width: 100%;
  opacity: 0.2;
  height: 0px;
  transition: all 0.5s 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.lucky-draw-users-start {
  opacity: 1.0;
  height: 240px;
}
.lucky-draw-user {
  width: 100px;
  height: 180px;
  margin-right: 15px;
  background-color: rgba(0, 255, 255, 0.4);
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lucky-draw-user:last-child {
  margin-right: 0px;
}
.lucky-draw-user-name {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
.lucky-draw-user-department {
  margin-top: 15px;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
.ucky-draw-empty {
  font-size: 40px;
  font-weight: 700;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}
/* 右边工具栏 */
.lucky-draw-tool-right {
  position: absolute;
  display: flex;
  white-space: nowrap;
  right: 15px;
  bottom: 15px;
}
.lucky-draw-tool-right .ant-btn {
  border-radius: 50%;
}