body {
  /*
  position: relative;
	background-image:url(BG/BG.png);
	background-repeat:repeat;  */
	background-color: #888888;
}

.lucky-draw-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: gradual 1.2s linear 1 3s;
  animation-fill-mode: forwards;
  user-select: none;
}
@keyframes gradual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

.lucky-draw-table{
  position: absolute;
  left: 50%;
  bottom: 15px;
	transform:translate(-50%,0);
  margin: 5px;
  width: 240px;
  border: 1px solid;
  border-color #000000;
	background-color: #000000;
	background-image: url("../image/BG-Table.png");
	color: rgba(0,0,0,0.75);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.lucky-draw-custom {
  margin: 5px;
  width: 120px;
	border-width: 2px;
	border-color: #000000;
  text-align: center;
}

.ant-select-selection, .ant-select-arrow {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: rgba(0,0,0,0.75);
  color: rgba(0,0,0,0.75);
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.ant-input {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: rgba(0,0,0,1.0);
  color: rgba(0,0,0,0.75);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.ant-btn {
  background-color: #FFFFFF;
  border-color: rgba(0,0,0,1.0);
  color: rgba(0,0,0,0.75);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.ant-select-dropdown {
  background-color: rgba(255,255,255, 1.0);
}

.ant-select-dropdown-menu-item {
	font-size: 14px;
	font-weight: 700;
	text-align: left;
  color: rgba(0,0,0,0.75) !important;
  text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.ant-select-dropdown-menu-item:hover{
  background-color: rgba(100,100,100, 0.5) !important;
}

.ant-select-dropdown-menu-item-selected {
  background-color: rgba(168,168,168, 0.5) !important;
}

.ant-select-dropdown-menu-item-active{
  background-color: rgba(255,255,255, 1.0) !important;
}

.ant-select-selection {
  background: #FFFFFF !important;
	color: rgba(0,0,0,0.75);
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

/*抽奖人数输入框*/
.lucky-draw-number, .lucky-draw-number-custom {
  width: 50px;
}

.lucky-draw-number .ant-input {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.lucky-draw-number-custom .ant-input {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.lucky-draw-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 255, 255, 0);
  transition: all 1s;
}

.lucky-draw-start {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.lucky-draw-users {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 12px rgba(255,255,255, 0.95);
	border: 3px solid rgba(255,255,255,0.75);
  width: 100%;
  opacity: 0.2;
  height: 0px;
  transition: all 0.5s 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lucky-draw-users-start {
  background-image:url(../image/BG-Banner.png);
  opacity: 1.0;
  height: 140px;
}

.lucky-draw-user {
  margin: 5px;
  background-image:url(../image/BG-Name.png);
  width: 80px;
  height: 110px;
	left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 0px 0px 6px rgba(255,255,255, 1.0);
  border: 2px solid rgba(255,255,255, 1.0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lucky-draw-user:last-child {
  margin-right: 0px;
}

.lucky-draw-user-name {
  margin-top: 35%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(255,255,255, 1.0);
  text-shadow: 0 0 8px rgba(255,0,0, 1.0);
}

.lucky-draw-user-department {
  margin-top: 15px;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.lucky-draw-empty {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255,255,255, 1.0);
  text-shadow: 0 0 8px rgba(0,0,0, 0.75);
}

/* 右边工具栏 */
.lucky-draw-tool-download {
  position: absolute;
  display: flex;
  white-space: nowrap;
  right: 15px;
  bottom: 50px;
  margin: 5px;
}

.lucky-draw-tool-setting {
  position: absolute;
  display: flex;
  white-space: nowrap;
  right: 15px;
  bottom: 15px;
  margin: 5px;
}

.lucky-draw-tool-bgimage {
  position: absolute;
  display: flex;
  white-space: nowrap;
  right: 15px;
  bottom: 85px;
  margin: 5px;
}

.lucky-draw-title {
  position: absolute;
  white-space: nowrap;
  display: table-cell;
  left: 50%;
  top: 50px;
  transform:translate(-50%,0);
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 12px rgba(0,0,0,1.0);
}
